.container {
  background-color: ghostwhite;
  border-bottom: thin solid darkgrey;
  box-shadow: 0 0 2em rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  width: 100%;
}

.kokikai {
  align-items: center;
  height: 2em;
  margin: 0.25em;
}

.top {
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.header {
  align-items: center;
  color: black;
  display: flex;
  line-height: 1.25em;
  font-size: smaller;
  font-weight: 900;
}

.header:link {
  text-decoration: none;
}

.icon {
  border-color: #eb3024;
  border-radius: 100%;
  border-style: double;
  border-width: thin;
  display: flex;
  margin: 0.25em;
  padding: 0.25em;
}

.svg {
  height: 1em;
  width: 1em;
}

.menuContainer {
  background-color: ghostwhite;
  border-left: thin solid darkgray;
  border-right: thin solid darkgray;
  border-top: thin solid darkgray;
  display: none;
  position: absolute;
  top: 66px;
  width: 100%;
}

.menuContainer.open {
  display: block;
}

.menu {
  display: flex;
  flex-direction: column;
  margin: 0;
  text-align: center;
}

.menuItem {
  border-bottom: solid thin darkgray;
  font-size: 0.6em;
  list-style: none;
  margin: 0;
  padding: 0.5em 0;
}

.desktopMenu {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .icon {
    display: none;
  }
  /* .menuContainer {
    right: 0;
    width: 10em;
  } */
  .desktopMenu {
    display: flex;
  }
  .menu {
    flex-direction: row;
  }
  .menuItem {
    border: none;
    margin: 0 2em;
  }
}
